<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Choose your power</title>
   <style>
body {
  background-image: url("https://i.ibb.co/1QbnBZ6/photo-5264901277035381808-y.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
.page {
  height: 70vh;
  display: flex;
  align-items: end;
  justify-content: center;
  color: #930808;
}

.container {
  background-color: rgba(125,125,125, 0.5);
  padding: 20px;
  text-align: center;
  height: 130px;
  width: 30%;
  color: #fff;
}

</style>
 </head>
 <body class="page">
 <div class="container" >
  <p><font size="16" color="#CB3A2F" face="fantasy">Music Soul</font></p>
  <btn onclick="window.location.href = '/m_form';"><font size="5" color="#ffffff" face="serif">I'm manager</font></btn> <br/>
  <btn onclick="window.location.href = '/a_form';"><font size="5" color="#ffffff" face="serif">I'm assistant</font></btn>
 </div>
 </body>
</html>